* {
    margin: 0;
    padding: 0;
}
nav, ol, ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(162, 223, 93);
}

ol, ul {
    list-style: none;
}

li {
    margin-left: 20px;
    padding: 15px 0 15px 0;
}

.container {
    display: flex;
    align-items: center;
    background-color: rgb(162, 223, 93);
    padding: 15px;
}